body {
  background-color: #1DB954;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

img, a {
  display: block;
  margin: 0 auto;
  width: 512px;
  height: 512px;
  border-radius: 5%;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#currentTrack {
  text-align: center;
  font-size: 35px;
  white-space: pre-wrap;
}

#albumCover {
  display: block;
  margin: 50px auto 0;
  width: 512px;
  height: 512px;
}